<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="add.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="angular-local-storage.js"></script>
<script src="appModule.js"></script>
<script src="add.js"></script>
<script src="CarService.js"></script>
<script src="angular-sanitize.js"></script>
<script src="select2.js"></script>

</head>   
<body>

<div ng-app="myApp" ng-controller="myCtrl">
  <form name = "MyForm">
    Car number:<br>
    <input id=carNumberFromAddCar"" type="text" ng-model="car.carNumber" readonly><br>
    Brand:<br>
    <input type="text" ng-model="car.brand" required><br>
    Model:<br>
    <input type="text" ng-model="car.model" required><br>
    Year:<br>
    <input type="number" ng-model="car.year" required><br>
    Kilometers:<br>
    <input type="number" ng-model="car.kilometers" required><br>
    Color:<br>
    <input type="text" ng-model="car.color" required><br>
    Price:<br>
    <input type="number" ng-model="car.price" required><br>
    Specifications:<br>
    <input type="text" ng-model="car.specifications" required><br>
    <br><br>
    <button ng-click= "addNewRecord(car, MyForm)">Submit</button>
    <button ng-click= "returnToManage()">Back</button>
  </form>
</div>
   
<br />
<br />
  
</body>
</html>