<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="add.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="angular-local-storage.js"></script>
<script src="appModule.js"></script>
<script src="addDriver.js"></script>
<script src="DriverService.js"></script>
<script src="PathService.js"></script>
<script src="angular-sanitize.js"></script>
<script src="select2.js"></script>

</head>   
<body>

<div ng-app="myApp" ng-controller="drCtrl">
  <form name="MyForm">
    Car number:<br>
    <input type="text" ng-model="driver.carNumber" readonly><br>
    Driver number:<br>
    <input type="text" ng-model="driver.driverNumber" readonly><br>
    Driver surname:<br>
    <input type="text" ng-model="driver.driverSurname" required><br>
    Driver forename:<br>
    <input type="text" ng-model="driver.driverForename" required><br>
    Birth date:<br>
    <input type="date" ng-model="driver.birthDate" required><br> 
    <br><br>
    <button ng-click= "addNewRecord(driver, MyForm)">Submit</button>
    <button ng-click= "returnToUpdateCar()">Back</button>
  </form>
</div>
   
<br />
<br />
  
</body>
</html>