<!DOCTYPE html>
<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="manage.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="angular-sanitize.js"></script>
<script src="select2.js"></script>
<script src="angular-local-storage.js"></script>
<script src="appModule.js"></script>
<script src="manage.js"></script>
<script src="update.js"></script>
<script src="CarService.js"></script>

<body ng-app='myApp' ng-controller='carsCtrl'>

<div class="ng-cloak">
<ui-select ng-model="selected_car"  theme="select2" ng-disabled="carsCtrl.disabled" style="min-width: 300px;" title="Choose a car">
    <ui-select-match placeholder="Search:"></ui-select-match>
    <ui-select-choices repeat="car in allCars | propsFilter: {brand: $select.search, model: $select.search}" style="list-style-type:none" ng-click="updateCar(selected_car)">
      <div ng-bind-html="car.brand | highlight: $select.search"></div>
    <small>
        brand: {{car.brand}}
        model: {{car.model}}
      </small>
    </ui-select-choices>
  </ui-select>
</div>
<br>



<div id="myForm">
<table id="tableSelect"border=1>
<tr>
    <th>Operations</th>
    <th>Car Number</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Kilometers</th>
    <th>Color</th>
    <th>Price</th>
    <th>Specifications</th>
  </tr>
<tr ng-repeat="car in allCars">
    <td><input type="button"   value="Delete" ng-click = "deleteCar(car)"><input type="button" value="Update" ng-click = "updateCar(car)"></td>
    <td>{{car.carNumber}}</td>
    <td>{{car.brand}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
    <td>{{car.kilometers}}</td>
    <td>{{car.color}}</td>
    <td>{{car.price}}</td>
    <td>{{car.specifications}}</td>
</tr>
</table>
</div>
<br /><br />

<div class= "opButtons">
    <button ng-click="openAddPage()" type="submit">Add new</button>
</div>

</body>
</html>