<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="add.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="angular-local-storage.js"></script>
<script src="appModule.js"></script>
<script src="update.js"></script>
<script src="CarService.js"></script>
<script src="DriverService.js"></script>
<script src="PathService.js"></script>
<script src="select2.js"></script>
<script src="angular-sanitize.js"></script>
</head>   
<body>

<div ng-app="myApp" ng-controller="myCtrl">
  <form name="MyForm">
    Car number:<br>
    <input type="text" ng-model="car.carNumber" readonly><br>
    Brand:<br>
    <input type="text" ng-model="car.brand" required><br>
    Model:<br>
    <input type="text" ng-model="car.model" required><br>
    Year:<br>
    <input type="number" ng-model="car.year" required><br>
    Kilometers:<br>
    <input type="number" ng-model="car.kilometers" required><br>
    Color:<br>
    <input type="text" ng-model="car.color" required><br>
    Price:<br>
    <input type="number" ng-model="car.price" required><br>
    Specifications:<br>
    <input type="text" ng-model="car.specifications" required><br>
    <br><br>
    <button ng-click= "updateCarRecord(MyForm)">Update</button>
    <button ng-click= "returnToManage()">Back</button>
  </form>
</div>
   
<br />
<br />

<body ng-app='myApp' ng-controller='myCtrl'>
<div id="myForm">
<table id="tableSelect"border=1>
<tr>
    <th>Operations</th>
    <th>Car Number</th>
    <th>Driver Number</th>
    <th>Driver Surname</th>
    <th>Driver Forename</th>
    <th>Birth date</th>
  </tr>
<tr ng-repeat="driver in allDrivers">
    <td><input type="button"   value="Delete" ng-click = "deleteDriver(driver)"><input type="button" value="Update" ng-click = "updateDriver(driver)"></td>
    <td>{{driver.carNumber}}</td>
    <td>{{driver.driverNumber}}</td>
    <td>{{driver.driverSurname}}</td>
    <td>{{driver.driverForename}}</td>
    <td>{{driver.birthDate|date:'yyyy-MM-dd'}}</td>
</tr>
</table>
</div>
<br /><br />

<div class= "opButtons">
    <button ng-click="openAddDriverPage()" type="submit">Add new</button>
</div>
  
</body>
</html>


